.container {
    margin-top: 12px;
    width: 70%;
}
  
.row {
    margin-bottom: 2px;
}

#objective-area, #collapse-div, #calculation {
    border-top: 1px solid lightgray;
}    

#new-configuration .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#collapse-trigger {
    margin: 10px 0;
}

#collapse-trigger a {
    color: black;
}

section {
    padding: 10px 0px;
}

#configuration-list .card {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0px 20px;
    margin-bottom: 15px;
}

#configuration-list .row {
    padding: 5px 0px;
}    

#configuration-list .title-name {
    font-weight: 700;
    margin-right: 5px;
}

#configuration-list .config {
    min-width: 100px;
    align-self: stretch;
}

#configuration-list .col-name {
    font-weight: 700;
    font-size: 0.7em;
    text-transform: uppercase;
}

#configuration-list button {
    background: none;
    border: none;
    text-align: right;
}

#new-configuration label {
    font-size: 0.8em;
    color: gray;
}

h2 {
    font-size: 1.3em;
    padding: 10px 0;
    font-weight: 400;
}

.result div {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

.modal-dialog {
    background-color: white; 
    padding: 50px; 
    width: 500px;
    text-align: center;
}