DATABASE_URL=postgres://express:express@database:5432/express
ALLOWED_HOST=localhost,127.0.0.1,fully-qualified-domain-name
CELERY_BACKEND_URL=redis://queue:6379/0
CELERY_BROKER_URL=redis://queue:6379/0
COMPOSE_FILE=docker-compose.yml:docker-compose-prod.yml
DEBUG=False
DJANGO_SECRET_KEY=
MINIMUM_PASSWORD_LENGTH=9
