{% extends 'core/base.html' %}

{% block extrahead %}
  {% if request.session.task_id %}
    <script>
      var result_url = "{% url 'core:result' request.session.task_id %}";
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <section id="list">
    {% for configuration in configurations %}
    <div class="row item">
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            Sub-Occurrence
          </div>
          <div class="col s12">
            {{configuration.sub_occurrence}}
          </div>
        </div>
      </div>
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            Frequency
          </div>
          <div class="col s12">
            {{configuration.frequency}}
          </div>
        </div>
      </div>
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            Lane Closure
          </div>
          <div class="col s12">
            {{configuration.lane_closures}}
          </div>
        </div>
      </div>
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            Duration
          </div>
          <div class="col s12">
            {{configuration.duration}} mins
          </div>
        </div>
      </div>
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            Flow Rate
          </div>
          <div class="col s12">
            {{configuration.get_flow_display}}
          </div>
        </div>
      </div>
      <div class="col s1"></div>
      <div class="col s1 delete">
        <div class="row">
          <form method="POST" action="{% url 'core:delete' configuration.pk %}">
            {% csrf_token %}
            <button class="fas fa-trash"></button>
          </form>
        </div>
    </div>
    </div>
    {% endfor %}
  <form method="POST" action="{% url 'core:new' %}">
    {% csrf_token %}
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">+ Add a new occurrence...</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s4">
              {{form.sub_occurrence}}
              <label>Operational Sub-occurrence</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              {{form.lane_closures}}
              <label>Lane Closure</label>
            </div>
            <div class="input-field col s3">
              {{form.duration}}
              <label>Duration</label>
            </div>
            <div class="input-field col s3">
              {{form.flow}}
              <label>Flow Rate</label>
            </div>
            <div class="input-field col s3">
              {{form.frequency}}
              <label>Frequency</label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn green waves-effect waves-light">Save</button>
          </div>
        </div>
        </li>
      </ul>
    </form>
  </section>
  <div class="row">
    <form method="POST" action="{% url 'core:calculate' %}">
      {% csrf_token %}
      <button type="submit" class="btn right green waves-effect waves-light">Calculate Results</button>
    </form>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="row valign-wrapper">
      <div class="col s6">
        <h2>Operational Objective 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col s6 result">
        <div id="result-1">-</div>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s6">
        <h2>Operational Objective 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col s6 result">
        <div id="result-2">-</div>
      </div>
    </div>
  </div>
{% endblock %}
