{% extends 'core/base.html' %}

{% block extrahead %}
  {% if request.session.task_id %}
    <script>
      var result_url = "{% url 'core:result' request.session.task_id %}";
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div id="error-card" class="card red accent-2" style="display: none;">
        <div class="card-body white-text">
          <span class="card-title">An Error Occurred</span>
          <p id="error-msg"></p>
          <p>Please try again later</p>
        </div>
      </div>
    </div>
  </div>
  {% for configuration in configurations %}
  <section id="configuration-list">
    <div class="row">
      <div class="col align-self-start">
        <div class="col-name">
          Occurrence
        </div>
        <div>
          {{configuration.occurrence}}
        </div>
      </div>
      <div class="col align-self-start">
        <div class="col-name">
          Sub-Occurrence
        </div>
        <div>
          {{configuration.sub_occurrence}}
        </div>
      </div>
      <div class="col align-self-start">
        <div class="col-name">
          Frequency
        </div>
        <div>
          {{configuration.frequency}}
        </div>
      </div>
      <div class="col align-self-start">
        <div class="col-name">
          Lane Closure
        </div>
        <div>
          {{configuration.lane_closures}}
        </div>
      </div>
      <div class="col align-self-start">
        <div class="col-name">
          Duration
        </div>
        <div>
          {{configuration.duration}} mins
        </div>
      </div>
      <div class="col align-self-start">
        <div class="col-name">
          Flow Rate
        </div>
        <div>
          {{configuration.get_flow_display}}
        </div>
      </div>
      <div class="col align-self-center">
        <form class="text-center" method="POST" action="{% url 'core:delete' configuration.pk %}">
          {% csrf_token %}
          <button class="fas fa-trash"></button>
        </form>
    </div>
  </section>
  {% endfor %}
  <section id="new-configuration">
    <div id="collapse-trigger">
      <a data-toggle="collapse" href="#collapse-div" aria-expanded="false" aria-controls="collapse-div">
        + Add a new occurrence...
      </a>
    </div>
    <div class="collapse" id="collapse-div">
      <form id="configurationForm" method="POST" action="{% url 'core:new' %}" data-sub-occurrences-url="{% url 'core:load_sub_occurrences' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label for="id_occurrence">Operational Occurrence</label>
            {{form.occurrence}}
          </div>
          <div class="col">
            <label for="id_sub_occurrence">Operational Sub-occurrence</label>
            {{form.sub_occurrence}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Lane Closure</label>
            {{form.lane_closures}}
          </div>
          <div class="col">
            <label>Duration</label>
            {{form.duration}}
          </div>
          <div class="col">
            <label>Flow Rate</label>
            {{form.flow}}
          </div>
          <div class="col">
            <label>Frequency</label>
            {{form.frequency}}
          </div>
        </div>
        <div class="form-row">
          <button id="save_btn" type="submit" class="btn green waves-effect waves-light">Save</button>
        </div>
      </form>
    </div>
  </section>
  <section id="calculation">
    <form class="d-flex flex-column" method="POST" action="{% url 'core:calculate' %}">
      {% csrf_token %}
      <button id="calculate_btn" type="submit" class="btn green align-self-end">Calculate Results</button>
    </form>
  </section>
  <section id="objective-area">
    <div class="row">
      <div class="col-6">
        <h2>Operational Objective 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col result align-self-center">
        <div id="result-1">-</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Operational Objective 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col result align-self-center">
        <div id="result-2">-</div>
      </div>
    </div>
  </section>

  <div id="spinner" class="modal fade">
    <div class="modal-dialog modal-sm">
      <h4 class="modal-title">Loading Results</h4>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
{% endblock %}
