{% extends 'core/base.html' %}

{% block extrahead %}
  {% if request.session.task_id %}
    <script>
      var result_url = "{% url 'core:result' request.session.task_id %}";
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="road-header">
    <div class="row col-name">Selected road:</div>
    <div id="road-name" class="row">{{ road.name }}</div>
    <div class="row small"><a href="{% url 'core:road' %}">back to road selection</a></div>
  </div>
  <div class="row">
    <div class="col">
      <div id="error-card" class="card red accent-2" style="display: none;">
        <div class="card-body white-text">
          <span class="card-title">An Error Occurred</span>
          <p id="error-msg"></p>
          <p>Please try again later</p>
        </div>
      </div>
    </div>
  </div>
  <section id="configuration-list">
    {% for configuration in configurations %}
    <div class="card">
      <div class="card-body">
        <div class="row card-title d-flex justify-content-between">
          <div class="title-name">
            {{configuration.sub_occurrence.occurrence.name}}
          </div>
          <div class="flex-grow-1">
            {{configuration.sub_occurrence}}
          </div>
          <div>
            <form class="text-center" method="POST" action="{% url 'core:delete' configuration.pk %}">
              {% csrf_token %}
              <button class="fas fa-trash"></button>
            </form>
          </div>
        </div>
        <div class="row card-text d-flex justify-content-between">
          <div class="config">
            <div class="col-name">
              Frequency
            </div>
            <div>
              {{configuration.frequency}}
            </div>
          </div>
          <div class="config">
            <div class="col-name">
              Lane Closure
            </div>
            <div>
              {{configuration.lane_closures}}
            </div>
          </div>
          <div class="config">
            <div class="col-name">
              Duration
            </div>
            <div>
              {{configuration.duration}} mins
            </div>
          </div>
          <div class="config">
            <div class="col-name">
              Flow Rate
            </div>
            <div>
              {{configuration.get_flow_display}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  <section id="calculation" class="container-fluid">
    <form class="d-flex flex-column" method="POST" action="{% url 'core:calculate' %}">
      {% csrf_token %}
      <div class="row">
        <h2>Design Components</h2>
      </div>
      <div class="row">
        {% for comp in form.design_components %}
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="custom-switch">
            {{ comp.tag }}
            <label class="custom-control-label" for="{{ comp.id_for_label }}">{{ comp.choice_label }}</label>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if form.design_components.errors %}
      <div class="row card red accent-2">
        <div class="card-body white-text">
          <p>Error: {{ form.design_components.errors.as_text }}</p>
        </div>
      </div>
      {% endif %}
      <button id="calculate_btn" type="submit" class="btn green accent-3 align-self-end">Calculate Results</button>
    </form>
  </section>
  <section id="objective-area">
    <div class="row">
      <div class="col-6">
        <h2>Operational Objective 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col result align-self-center">
        <div id="result-1">-</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Operational Objective 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula porta fermentum. Ut placerat odio vel ipsum cursus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu pulvinar lorem, a mattis elit. Sed sollicitudin consectetur scelerisque.</p>
      </div>
      <div class="col result align-self-center">
        <div id="result-2">-</div>
      </div>
    </div>
  </section>

  <div id="spinner" class="modal fade">
    <div class="modal-dialog modal-sm">
      <h4 class="modal-title">Loading Results</h4>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
{% endblock %}
