body.login {
    width: 100%;
    background-color: #002E5F;
}

#header {
    background-color: white;
    border-bottom: 2px solid #002E5F;
    color: #002E5F;
}

#site-name img {
    width: 100px;
    height: 40px;
}

#site-name span {
    font-size: 16px;
    color: #002E5F;
    padding: 0 5px;
}

#user-tools a,
#user-tools a:focus,
#user-tools a:visited {
    color: #002E5F;
}

#user-tools a:hover {
    border-bottom: 2px solid #002E5F;
    padding-bottom: 5px;
}

#user-tools {
    font-size: 16px;
    text-transform: capitalize;
}

#content caption,
div.breadcrumbs {
    background-color: #002E5F;
}