{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Expressways Administration') }}{% endblock %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/admin-extra.css' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <div class="logos">
            <img src="{% static 'img/expressways-logo.png' %}" alt="Expressways Logo">
            <div><span class="navbar-text">Expressways Admin</span></div>
        </div>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
