{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Expressways Administration') }}{% endblock %}

{% block extrahead %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/admin-extra.css" %}" />{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/wsp_logo.png' %}" alt="WSP Logo">
        <span>on behalf of</span>
        <img src="{% static 'img/he_logo.png' %}" alt="Highways England Logo">
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
